h1{
  text-align: center;
  font-family: 'Pacifico', sans-serif;
  color: MediumTurquoise;
  text-shadow: 2px 2px grey;
}
h4{
  width: 10em;
  text-align: center;
  
}


a{
  text-decoration: none;
}

a:hover{
  color: gray;
}

a:visited {
  color: DarkGray;
}


html{
  width : 100%;
  height: 100%;
  background-color: #DCDCDC;
}

body{
  padding: 60px 10px 0px 10px;
  width : 100%;
  height: 100%;

}

.Navigation{
  display: flex;
  color: DarkGray;
  margin-left: 25%;
  margin-right: 25%;

}

.Main{
  width: 70%;
  height: 45%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}
 #publications{
 	color:grey;
 }

* {
  border: 1px solid rgba(0, 0, 0, 0.3);
}