h1{
  text-align: center;
  font-family: 'Pacifico', sans-serif;
  color: MediumTurquoise;
  text-shadow: 2px 2px grey;
}
h4{
  width: 10em;
  text-align: center;
  
}


a{
  text-decoration: none;
  color: gray;
}

a:hover{
  color: gray;
}

a:visited {
  color: DarkGray;
}


html{
  width : 100%;
  height: auto;
  background-color: #DCDCDC;
}

body{
  padding: 60px 10px 0px 10px;
  width : 95%;
  height: auto;

}

.Main{
  width: 60%;
  
  margin:auto;
  margin-top:5%;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  margin-bottom:5%;
  padding-bottom:5%;
  font-family: 'Amatic SC', cursive;
}

.imgComp{
 width: 80%;
display:flex;
font-size: 400%;
margin-left: 25%;
padding-top:10%;
margin-right: 25%;
}

#imgCom{
width: 20%;
height: 15%;
margin-top: 15%;
margin-right: 10%;
}
 
#publications{
 	color:grey;
 }


/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    background-color: #DCDCDC;
    width : 50%;
    height:auto;
    margin-left:30%;
    margin-right:25%;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 125%;
    margin-left: 5%;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:  MediumTurquoise;
    color: white;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first 
one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .topnav a:not(:nth-child(4)) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}




@media screen and (max-width: 800px) {
	
	h1{
 		text-align: center;
  		font-family: 'Pacifico', sans-serif;
  		color: MediumTurquoise;
  		text-shadow: 2px 2px grey;
		font-size: 400%;
	}
	
	
	.Main{
  		width: 80%;
 		height: auto;
  		margin-top:20%;
		margin-left:10%;
		margin-right:10%;
  		background-color: white;
  		box-shadow: 10px 10px 5px grey;
	}
	
	
	.topnav{
		margin-left:-2%;
		font-size: 200%;
		display: block;
	}
	
	
	
}

